/* Configuration font */
@font-face {
    font-family: "BottleDepot";
    src: url("font/BottleDepot.ttf") format("truetype");
  }
  
@font-face {
  font-family: "Cookie";
  src: url("font/Cookie-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CryWolf";
    src: url("font/cry-wolf.ttf") format("truetype");
  }

@font-face {
    font-family: "ExquisiteCorpse";
    src: url("font/Exquisite Corpse.ttf") format("truetype");
}

@font-face {
    font-family: "GhostHouse";
    src: url("font/Ghost House.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("font/RobotoCondensed-Regular.ttf") format("truetype");
}

/* Configuration générale */
html {
    background-image: url('img/background_black.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: rgba(44, 44, 44, 0.5);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: "CryWolf", sans-serif;
    font-size: 50px;
    color: rgb(230, 0, 0);
    text-align: center;
}



h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: "ExquisiteCorpse", sans-serif;
    font-size: 25px;
    color: rgb(230, 0, 0);
}

footer {
    display: inline;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    line-height: 10px;
}


/* Configuration des class et id*/
.introduction {
    background-color: rgba(255, 0, 0, 0.4);
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

button {
    font-family: "BottleDepot", sans-serif;
    font-size: 15px;
    display: inline;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 5px;
    flex-grow: 1;
}


.container{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}


.flex-container{
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}

.column-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
}
.column-box > * {
    margin:5px
}

.wrap{
    flex-wrap: wrap;
}


.selectSeason img{
    max-width: 10px;
}

label.criteria {
    color: white;
}
input[type='checkbox'] {
    margin:5px
}


.result {
    text-align: center;
    color: white;
}

#configuration {
    background-color: rgba(255, 0, 0, 0.4);
    padding: 5px;
    margin: 5px;
}

.season-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.season-title > span:first-child {
    flex:2;
    margin: 5px;
}
.season-title > button{
    max-width: 50px;
}

#girlName {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "CryWolf", sans-serif;
    font-size: 50px;
    color: rgb(230, 0, 0);
}


#killerName {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}


#locationName {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.hide {
    display: none;
}


img#girlCard {
    width: 300px;
    border-radius: 10px;
}

img#logoName {
    width: 250px;
}

img#logo {
    width: 60px;
}

img#board {
    max-height: 300px; 
}

#luck{
    background-color: rgba(0, 0, 0, 0.5); /* Utilisez les valeurs RGBA appropriées */
    padding: 5px;
    font-family: "ExquisiteCorpse", sans-serif;
    font-size: 40px;
    color: rgb(230, 0, 0);
    text-align: center;
}